* {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
  font-weight: bolder;
}
.forecast {
  font-size: 10px;
}
span {
  font-size: 10px;
}
li:hover {
  background-color: lightslategray;
  text-decoration: underline;
}
